@use '../common/color.scss' as *;

.modal {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $bg-S;
    border: 1px solid $border-P;
    border-radius: 14px;
    box-shadow: 0 0 10px 0 $shadow-H;

    h2{
        font-size: 24px;
        font-weight: 600;
        color: $text-P;
        text-align: center;
        margin-bottom: 60px;
    }
    .close-btn{
        position: fixed;
        top: 12px;
        right: 12px;
        color: $accent-red;
        transition: all 0.3s ease;

        &:hover{
            color: $accent-red__hover;
        }
    }
    form{
        width: 100%;
        height: auto;

        label{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 24px;
            
            span{
                font-size: 16px;
                font-weight: 600;
            }
        }
        button{
            display: block;
            width: 20%;
            height: 40px;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0 12px;
            background-color: $accent-blue;
            border-radius: 8px;
            color: $text-P;
            font-size: 16px;
            outline: none;
            transition: all 0.3s ease;

            &:hover{
                background-color: $accent-blue__hover;
                box-shadow: 0 0 10px 0 $shadow-M;
            }
        }
    }
    &.add-modal{
        form{
            label{
                input{
                    width: 100%;
                    height: 40px;
                    padding: 0 12px;
                    background-color: $bg-E;
                    border: 1px solid $border-P;
                    border-radius: 8px;
                    font-size: 14px;
                    color: $text-S;
                    outline: none;
                }
            }
            button{
                &.disabled{
                    background-color: $system-G_4;
                    cursor: not-allowed;
                }
            }
        }
    }
    &.delete-modal{
        h2{
            margin-bottom: 48px;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 16px;
            position: relative;

            .link-item{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 12px;
                flex-basis: 31.3%;
                position: relative;
                width: 31.3%;
                padding: 12px;
                margin: 0;
                background-color: $bg-P;
                border: 1px solid $border-P;
                border-radius: 8px;
                transition: all 0.3s ease;
                cursor: pointer;

                &:has(input:checked){
                    background-color: #ff3b3020;
                    border: 1px solid $accent-red__hover;

                    .link-item-content{
                        img{
                            filter: grayscale(60%);
                        }
                        span{
                            color: $accent-red;
                        }
                    }
                }
                &:hover{
                    background-color: #ff3b3010;
                    border: 1px solid transparent;
                }
                input{
                    display: none;
                }
                &-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 12px;
                    margin: 6px 0;

                    img{
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        object-fit: contain;
                        user-select: none;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 600;
                        color: $text-P;
                        user-select: none;
                    }
                }
            }
            button{
                position: absolute;
                bottom: -57px;
                right: 50%;
                margin: 0 auto;
                background-color: $accent-red;
                transform: translateX(50%);

                &:hover{
                    background-color: $accent-red__hover;
                }
                &.disabled{
                    background-color: $system-G_4;
                    cursor: not-allowed;
                }
            }
        }
    }
}