@use '../common/color.scss' as *;

.selected-link--container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 32px;
    width: 90%;
    min-height: 210px;
    padding: 24px;
    margin: 0 auto;
    background-color: $bg-S;
    border: 1px solid $border-P;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .empty-link{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        svg{
            width: 40px;
            height: 40px;
        }
        span{
            font-size: 20px;
            font-weight: 600;
        }
    }
    .selected-link{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        width: 33.3%;
        flex-basis: 33.3%;
        cursor: pointer;

        &:hover{
            .selected-link--icon{
                transform: scale(1.1);
            }
            .selected-link--title{
                color: $accent-yellow;
            }
        }
        &--icon{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            object-fit: contain;
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.1));
            transition: all 0.3s ease;
        }
        &--title{
            font-size: 16px;
            font-weight: 600;
            color: $text-P;
            text-align: center;
            transition: all 0.3s ease;
        }
    }
}