@use './color' as *;

*{
    user-select: none;
}

body{
    padding: 32px 32px;
    background-color: $bg-P;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: $text-P;
    overflow: hidden;
    -webkit-app-region: drag;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
button, .selected-link, .util-btn, input, textarea, select {
    -webkit-app-region: no-drag;
}
